.channel-container {
  display: flex;
  height: 20px;
  margin: 10px 20px ;
  width: 90%;
  border-radius: 3px;
  font-weight: 600;
}


.channel-container:hover {
  background-color:rgb(66,70,77);
  width: 90%;
  cursor: pointer;
}