/* TODO Add site wide styles */
html {
  background-color: #202224;
}

#root {
  font-family: 'Radio Canada', sans-serif;
  color: #ececec;
  box-sizing: border-box;
  background-color: rgb(29, 29, 29);
  height: fit-content;
}

body {
  margin: auto;
  padding: 0%;
  
}


::-webkit-scrollbar {
  width: 18px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
}
::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 10px;
  border: 6px solid transparent;
  background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}