/* TODO Add site wide styles */
html {
  background-color: #202224;
}

#root {
  font-family: 'Radio Canada', sans-serif;
  color: #ececec;
  box-sizing: border-box;
  background-color: rgb(29, 29, 29);
  height: fit-content;
}

body {
  margin: auto;
  padding: 0%;
  
}


