.profile-container {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    background-color: #292b2f;
    height: 53px;
    width: 239px;
    align-items: center;
}
.profile-pic{
    height: 35px;
    border-radius: 50%;
    padding: 0 7px;
}
