.profile-container {
    display: flex;
    flex-direction: row;  
    background-color: #292b2f;
    height: 53px;
    width: 100%;
    align-items: center;
    justify-content: space-around;
  
}
.profile-pic{
    height: 32px;
    border-radius: 50%;
}
.main-name{
    padding: 0;
    margin: 0;
}
.name-tag{
    padding: 0;
    margin: 0;
    font-size: 12px;
}
.profile-settings{
    justify-items: flex-end;
}
.user-info{
    display: flex;
    align-items: center;
    padding-left:6px;
    gap: 7px;
}
.profile-bar-name{
    cursor: pointer;
}
