.whole-page-div {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-image-container {
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: -1;
  background-repeat: no-repeat center center;
  background-size: cover;
}

.background-image {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) {
  .background-image {
    left: 50%;
    margin-left: -512px;
  }
}

.login-form-container {
  border: solid white 1px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px;
  width: 480px;
  height: 404px;
  border-radius: 3px;
}

.login-form-container h1 {
  position: absolute;
  top: 6%;
  font-size: 24px;
}

.login-form-p {
  position: absolute;
  top: 15%;
}

.login-form-input-fields {
  border: solid white 1px;
  margin-top: 50px;
}

.login-form-container .login-form-email-input,
.login-form-password-input {
  width: 100%;
  height: 35px;
  background: white;
  border-radius: 4px;
  border: 1px solid silver;
  /* margin: 10px 3px 18px 0; */
  padding: 0 5px;
  transition: .2s ease-in-out;
  font-family: inherit;
  background-color: inherit;
}

.login-form-container .login-form-email-input:focus,
.login-form-password-input:focus {
  outline: none;
}