.whole-page-div {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-image-container {
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: -1;
  background-repeat: no-repeat center center;
  background-size: cover;
}


.background-image {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) {
  .background-image {
    left: 50%;
    margin-left: -512px;
  }
}


.login-form-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 32px;
  width: 480px;
  height: 404px;
  border-radius: 5px;
  background-color: #36393f;
  box-shadow: 0 2px 10px 0 rgb(0 0 0 / 20%);
  animation-duration: 0.8s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-top: -10%;
    height: 470px;
  }

  to {
    margin-top: 0%;
    height: 404px;
  }
}

.login-form-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 200px;
}

.login-form-text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form-container h1 {
  font-size: 24px;
  color: white;
}

.login-form-input-fields {
  margin-top: 50px;
  margin-bottom: 70px;
  width: 100%;
}

.login-form-container .login-form-email-input,
.login-form-password-input {
  width: 100%;
  height: 35px;
  border-radius: 4px;
  border: none;
  margin: 6px 0 6px 0;
  padding: 0 5px;
  /* transition: .2s ease-in-out; */
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  background-color: rgb(35, 39, 42);
  color: white;
}

.login-form-container .login-form-email-input:focus,
.login-form-password-input:focus {
  outline: none;
}

.login-form-button,
.join-server-button {
  margin-bottom: 15px;
  width: 120px;
  height: 34px;
  border: none;
  outline: none;
  background: rgb(88, 101, 242);
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  color: white;
  border-radius: 4px;
  transition: .3s;
  font-family: inherit;
}

.login-form-button:hover,
.join-server-button:hover {
  opacity: .8;
}

.login-button {
  margin-right: 25px;
}

.login-form-register-p,
.signup-form-login-p {
  color: #72767D;
  font-size: 14px;
}

.login-form-register-p a {
  color: #00AFF4;
  text-decoration: none;
}

.login-form-register-p a:hover {
  text-decoration: underline;
  color: #00AFF4;
}

.signup-error {
  color: red;
  opacity: .7;
  font-size: small;
  margin: 0;
}