.members-list {
    display: flex;
    flex-direction: column;
    background-color: #2F3136;
    height: 100vh;
    width: 240px;
    align-items: flex-start;
    margin-left: auto;
}
.member {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
    padding-top: 20px;
    width: 89%;
}
.member p {
    margin: 0;
    padding-left: 10px;
}
.members-image {
    border-radius: 50%;
}

.members-list :hover {
    background-color: rgb(107, 107, 107);
   
    cursor: pointer;
}

.modal-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}