.server-form-create-button {
  border-radius: 10px;
}

.create-channel-buttons-container {
  margin: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.channel-form-button {
  margin-top: 15px;
  width: 120px;
  height: 34px;
  border: none;
  outline: none;
  background: rgb(88, 101, 242);
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  color: white;
  border-radius: 4px;
  transition: .3s;
  font-family: inherit;
}

.channel-form-button:hover {
  opacity: 0.8;
}

.input:focus {
  outline: none;
}