.server-form-create-button {
  border-radius: 10px;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  background-color: #404EED;
  padding: 12px;
  font-size: 13px;
  border-radius: 25px;
  transition: all .2s;
  justify-self: flex-end;
  border: none;
  width: 80px;
}

.server-form-back-button {
  border-radius: 10px;
  color: rgb(255, 255, 255);
  background-color: #404EED;
  padding: 12px;
  font-size: 13px;
  border-radius: 25px;
  transition: all .2s;
  justify-self: flex-end;
  border: none;
  width: 80px;
  
}

.server-form-create-button:hover {
  background-color: #3946d4;
}

.server-form-back-button:hover {
  background-color: #3946d4;
  
}